<div>
  <h2>Setup restaurant space and layout</h2>
  <hr />

  <form
    [formGroup]="sectionFormGroup"
    #sectionForm="ngForm"
    name="sectionFormGroup"
    (ngSubmit)="(sectionForm.valid)"
    class="form-row"
  >
    <div class="col-12">
      <p>add various sections of the restaurant. eg pool side, vip section</p>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Section name</mat-label>
        <input
          inputTrim
          matInput
          formControlName="name"
          class="text-bold"
          type="text"
          id="name"
          name="name"
          required
          autocomplete="off"
          placeholder="eg: Vip, roof top"
          [ngClass]="{
            'is-invalid':
              sectionForm.submitted &&
              sectionFormGroup.get('name')?.hasError('required')
          }"
          aria-describedby="nameHint"
        />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Number of tables</mat-label>
        <input
          formControlName="numberOfTables"
          matInput
          id="numberOfTables"
          name="numberOfTables"
          type="number"
          required
          placeholder="Number of tables in this section"
          [ngClass]="{
            'is-invalid':
              sectionForm.submitted &&
              sectionFormGroup.get('numberOfTables')?.hasError('required')
          }"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field
        appearance="outline"
        style="width: 100%"
        [ngClass]="{
          'is-invalid':
            sectionForm.submitted &&
            sectionFormGroup.get('tableNamePattern')?.hasError('required')
        }"
      >
        <mat-label>Table name pattern</mat-label>
        <mat-select formControlName="tableNamePattern">
          <mat-option value="NUMERIC">NUMERIC</mat-option>
          <mat-option value="ALPHANUMERIC">ALPHANUMERIC</mat-option>
          <mat-option value="ALPHABET">ALPHABET</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Table name prefix</mat-label>
        <input
          inputTrim
          matInput
          formControlName="tableNamePrefix"
          class="text-bold"
          type="text"
          id="tableNamePrefix"
          name="tableNamePrefix"
          autocomplete="off"
          placeholder=""
        />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Table name suffix</mat-label>
        <input
          inputTrim
          matInput
          formControlName="tableNameSuffix"
          class="text-bold"
          type="text"
          id="tableNameSuffix"
          name="tableNameSuffix"
          autocomplete="off"
          placeholder=""
        />
      </mat-form-field>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-end align-items-center">
        <button
          mat-button
          (click)="save()"
          color="accent"
          type="submit"
          mat-flat-button
          [disabled]="isLoading || sectionForm.invalid"
          style="font-size: 14px; width: inherit"
        >
          Save
        </button>
      </div>
    </div>
  </form>

  <div class="m-0 mb-3 p-1">
    <h4 class="">List of Sections</h4>
    <div class="table-responsive bg-white rounded" style="max-height: 520px">
      <table class="table bg-white table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Number of table</th>
            <th scope="col">Table name pattern</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let section of sectionList$ | async; let i = index">
            <th scope="row">{{ section?.name }}</th>
            <td>{{ section?.numberOfTables }}</td>
            <td>{{ section.tableNamePattern }}</td>
            <td class="d-flex justify-content-between align-items-center">
                <div (click)="onEditSection(section)">
                    <img src="assets/icons/edit_icon.png" height="24" width="24" alt="">
                </div>
                <div (click)="onDeleteSection(section)">
                    <img src="assets/icons/delete_icon.png" height="24" width="24" alt="">
                </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <mat-spinner
          [hidden]="!isLoading"
          mode="indeterminate"
          [diameter]="25"
          [strokeWidth]="3"
        >
        </mat-spinner>
      </div>
    </div>
  </div>
</div>
