.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
    border: .5px solid #EDEDED;
    background-color: #EDEDED;
    font-size: 15px;
    min-width: 340px;
}