.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #36454f;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-weight-300 {
  font-weight: 300 !important;
  font-size: 14px;
}
