.color-white {
  color: #ffffff;
}

.color-dark-cyan-blue {
  color: #36454f;
}

.font-weight-300 {
  font-weight: 300;
  font-size: 16px;
}

.font-weight-400 {
  font-weight: 300;
  font-size: 17px;
}

.bold {
  font-weight: 400;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
