.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    font-family: 'avenir-roman';
    font-size: 18px;
}


/* Styles for the active tab label */

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    font-family: 'avenir-black';
    color: #155264;
    font-size: 18px;
}

.mat-select-panel {
    background: #155264;
}

::ng-deep .mat-input-underline {
    display: none;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-select-value {
    color: white!important;
}

::ng-deep .mat-select-arrow {
    color: white !important;
    opacity: 0;
}

:host ::ng-deep .mat-select-value {
    color: white;
}