@use "@angular/material" as mat;

@include mat.core();

@font-face {
  font-family: avenir-black;
  src: url(assets/fonts/avenir_ff/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: avenir-roman;
  src: url(assets/fonts/avenir_ff/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: avenir-book;
  src: url(assets/fonts/avenir_ff/AvenirLTStd-Book.otf);
}

html,
body {
  height: 100%;
  background-color: #ffffff;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: avenir-roman, Roboto, "Helvetica Neue", sans-serif;
}

$primary-palette: (
  50: #fff7e4,
  100: #ffebbb,
  200: #ffde92,
  300: #ffd36a,
  400: #fec753,
  500: #fdbe44,
  600: #fbb140,
  700: #f9a03c,
  800: #f79038,
  900: #f47439,
  A100: #ffffff,
  A200: #ffffff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  ),
);

$accent-palette: (
  50: #d6f1ff,
  100: #b3d8e5,
  200: #90bacb,
  300: #6c9db1,
  400: #50889d,
  500: #31738a,
  600: #246579,
  700: #155264,
  800: #053f4f,
  900: #002a38,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  ),
);

$primary: mat.define-palette($primary-palette, 300);
$accent: mat.define-palette($accent-palette, 700);
// The "warn" palette is optional and defaults to red if not specified.
$warn: mat.define-palette(mat.$red-palette);
$typography: mat.define-typography-config(
  $font-family: "avenir-roman,avenir-black,avenir-book,Roboto",
);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography,
    density: 0,
  )
);

@include mat.core-theme($app-theme);
@include mat.button-theme($app-theme);
@include mat.all-component-themes($app-theme);
@include mat.typography-hierarchy($typography);
