<app-bar title="System Setup"></app-bar>
<main class="container" style="margin-top: 80px">
  <div class="row align-items-center">
    <nav class="col-12" aria-label="breadcrumb">
      <ol class="p-0 breadcrumb" style="background: transparent !important">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/admin">admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">setup</li>
      </ol>
    </nav>
    <div class="col-12">
    <mat-drawer-container class="example-container">
        <mat-drawer #drawer [mode]="'side'" [opened]="true">
            <div class="nav flex-column nav-pills mr-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a routerLink="admin/setup?tab=account" class="nav-link" id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="false">Account</a>
                <a routerLink="admin/setup?tab=subscription" class="nav-link" id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="false">Subscription</a>
                <button class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" data-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</button>
                <button class="nav-link" id="v-pills-messages-tab" data-toggle="pill" data-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                <button class="nav-link" id="v-pills-settings-tab" data-toggle="pill" data-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
              </div>
        </mat-drawer>
        <mat-drawer-content>
          
          <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</main>
