<app-bar title="System Setup"></app-bar>
<main class="container" style="margin-top: 80px">
  <div class="row align-items-center">
    <nav class="col-12" aria-label="breadcrumb">
      <ol class="p-0 breadcrumb" style="background: transparent !important">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/admin">admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">setup</li>
      </ol>
    </nav>
    <div class="col-12 mt-1 pt-1 pb-2">
    <mat-drawer-container class="example-container">
        <mat-drawer #drawer [mode]="'side'" [opened]="true">
            <div class="nav flex-column nav-pills mr-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" [ngClass]="{'active': tab=='account'}" [routerLink]="['/admin/setup']"[queryParams]="{tab: 'account'}" role="tab">Account</a>
                <a class="nav-link" [ngClass]="{'active': tab=='subscription'}" [routerLink]="['/admin/setup']"[queryParams]="{tab: 'subscription'}" role="tab">Subscription</a>
                <a class="nav-link" [ngClass]="{'active': tab=='layout'}" [routerLink]="['/admin/setup']"[queryParams]="{tab: 'layout'}" role="tab">Layout and sections</a>

              </div>
        </mat-drawer>
        <mat-drawer-content>
            <div  class="p-2" [ngSwitch]="tab">
                <ng-container [ngTemplateOutlet]="accountSetupTemplate" *ngSwitchCase="'account'">
                </ng-container>
                <ng-container [ngTemplateOutlet]="subscriptionTemplate" *ngSwitchCase="'subscription'">
                </ng-container>
                <ng-container [ngTemplateOutlet]="LayoutTemplate" *ngSwitchCase="'layout'">
                </ng-container>
            </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</main>

<ng-template #accountSetupTemplate>
    <app-account-setup></app-account-setup>
</ng-template>
<ng-template #subscriptionTemplate>
   <app-subscription></app-subscription>
</ng-template>
<ng-template #LayoutTemplate>
    <app-layout></app-layout>
 </ng-template>
